# Root
node_modules/
.env
.env.local
.env.production.local

# Client
client/node_modules/
client/dist/
client/.env.local

# Server
server/node_modules/
server/uploads/*
!server/uploads/.gitkeep
server/prisma/migrations/

# OS
.DS_Store
Thumbs.db
